<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>media-service</title>
    <link rel="stylesheet" href="/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="tryme.js" type="application/javascript"></script>
</head>

<body>
<div>
    <h1>media-service</h1>
    <p class="media-id">The ID is ...</p>
    <p class="media-title">The title is </p>
</div>
</body>
</html>